/**
 * This file is a extra css to override standard theme
 */

/* ==========================================================================
   BASIC
   ========================================================================== */
body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}


/* ==========================================================================
   HOMEPAGE
   ========================================================================== */
.home .features {
    border-bottom: 1px solid #eaecef;
    margin-bottom: 3em;
}
.home .features p {
    margin-left:0em;
}
.home h2 {
    margin-top: 2em;
    border: none;
}
.home p {
    margin-left: 1em;
}

/* ==========================================================================
   TABLES
   ========================================================================== */
table {
    width: 100% !important;
    display: table !important;
}
table td:nth-child(1) {
    background: rgba(0, 0, 0, 0.02);
}

table td:nth-child(1) a {
    font-weight: bold !important;
}
table td:nth-child(3) {
    min-width: 5.6em !important;
}
table td {
    font-size: 0.9em !important;
}

th,
td {
    border: none !important;
}
tr {
    border: none !important;
}
thead>tr {
    border-top: none !important;
}
th {
    border-bottom: 2px solid #dfe2e5 !important;
}
table td {
    border: none !important;
    line-height: 1.5;
}
thead th {
    cursor: pointer !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
td img {
    max-height: 32px;
}

table td:nth-child(4),
table td:nth-child(5) {
    width: 1.75em !important;
}

@media all and (max-width: 900px) {
    table td:nth-child(2),
    table th:nth-child(2) {
        display: none;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: collapse;
    }
}
@media all and (min-width: 900px) {
    table td:nth-child(1) {
        min-width: 8em !important;
    }
}

/* ==========================================================================
   NAVBAR
   ========================================================================== */
.navbar .links {
    background: none !important;
    margin-left: 1em;
}

a.sidebar-link{
    font-weight: 600;
    border-radius: 10px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border: none !important;
}
.sidebar>.sidebar-links {
    margin-left: 1em;
    margin-right: 1em;

}
.sidebar-sub-headers a.sidebar-link {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

a.sidebar-link.active {
    font-weight: 600;
    border-radius: 10px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    background: #F6F8FA;
}
.dropdown-wrapper .dropdown-title {
    outline: none;
}
